body {
  background: #f9f7fe;
  font-family: "Roboto", sans-serif;
}

img{
  max-width: 200px;
  display: block;
  margin-left: 0px;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.weather-app {
  background: white;
  max-width: 700px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  text-align: center;
}

.search-input {
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px 25px;
  width: 75%;
  border-radius: 6px;
}

.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #5d73f1;
  color: white;
  border: none;
  padding: 20px 30px;
  line-height: 1;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}

.search-button:hover{
background-color: rgba(31, 153, 253, 0.95);
cursor: pointer;
}

main {
  padding: 10px 0;
}

.current-temperature {
  font-size: 48px;
}

.current-weather {
  width: 630px;
  display: flex;
  margin: 0 auto;
  padding: 10px 15px;
  justify-content: space-between;
  border-radius: 10px;
  background: linear-gradient(to right, #5df1b8, #5de0f1);
}

.current-city {
  font-size: 40px;
  font-weight: 900;
  margin: 0;
  color: #885df1;
}
.current-details {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: #fd5b8b;
}

.current-temperature {
  display: flex;
}

.current-temperature-icon {
  width: 88px;
  line-height: 88px;
}

.current-temperature-value {
  font-size: 88px;
  font-weight: bold;
  line-height: 88px;
  color: #885df1;
}

.current-temperature-unit {
  margin-top: 6px;
  font-size: 28px;
  color: #885df1;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  width: 660px;
  padding: 40px 0;
  margin: 10px auto 0 auto;
  background: linear-gradient(to right, #5df1f1, #4ef8bf);
}

.weather-forecast-date {
  text-align: center;
  color:white;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 0;
}

.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #5d73f1;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

footer {
  text-align: center; 
  font-size: 15px;
  color: rgba(39, 33, 66, 0.8);
}
